.container { margin-left: auto; margin-right: auto; padding: 24px; width: 100%; max-width: 720px; }
@media screen and (min-width: 544px) { .container { padding: 32px; } }
@media screen and (min-width: 768px) { .container { padding: 40px; } }
@media screen and (min-width: 1012px) { .container { padding: 48px; } }
* { font-family: -apple-system, BlinkMacSystemFont, Pretendard, Pretendard Variable, Inter, Helvetica Neue, Helvetica, Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, AXIS Std, IBM Plex Sans JP, Source Han Sans JP, Noto Sans JP, Source Han Sans KR, Noto Sans KR, Meiryo, Yu Gothic, MS UI Gothic, MS PGothic, sans-serif; }
#gfdHeader, #gfdContent, #importImgCont, #importImgHead { display: none; }
#gfdContent td, dd { font-variant-numeric: tabular-nums; font-feature-settings: 'ss06'; }
#gfdContent code { padding: .2em .4em; font-size: 85%; border-radius: 6px; }
